/*--[ Imports ]--------------------------------------------------------------------------------*/
@import url("mixins.less");

/*--[ General Styles ]--------------------------------------------------------------------------------*/

img {
	max-width: 100%;
}

.col2-set {
	.clearfix();
	clear: both;

	.col-1 {
		width:49%;
		float: left;
	}

	.col-2 {
		width:49%;
		float: right;
	}
}

.form-row {
	width:49%;
	float: left;

	label {
		display: block;
	}

	.input-text, select {
		width:100%;
		*width:90%;
		.borderbox();
	}

	input[type=checkbox] {
		float: left;
	}

	&.notes {
		width:100%;

		textarea {
			width:100%;
			*width:90%;
		}
	}
}

.form-row-first {
	clear: left;
}

.form-row-last {
	float: right;
}

.form-row-wide {
	float: left;
	width:100%;
	clear: both;
}

header.title {
	overflow: hidden;
	zoom:1;

	h1, h2, h3, h4, h5 {
		float: left;
	}

	a.edit {
		float: right;
		font-size:12px !important;
		text-transform: uppercase;
	}
}

h1.page-title {
	margin-bottom:15px;
}

p.demo_store {
	position: fixed;
	top:0;
	left: 0;
	right:0;
	text-align: center;
	padding: 1em 0;
	background: #ebdd75;
	color: #827513;
	z-index: 999999;
}

.tax-product_cat .shop-title {
	display: none;
}

.woocommerce {
	#main {
		> .page-title {
			display: none;
		}
	}
}

mark {
	background: none;
}

/*--[ Product Categories ]--------------------------------------------------------------------------------*/
.home ul.products {
	li {
		width:22.05%;
		margin: 0 1.4% 1.5em !important;
	}
}

ul.products {
	margin:0 0 1.5em 0;
	padding:0;
	list-style: none;
	.clearfix;

	li {
		width:30.75%;
		margin-right:3.8%;
		float:left;
		text-align: center;
		margin-bottom:1.5em;
		position: relative;
		list-style: none;

		&.first {
			clear: left;
		}

		&.last {
			margin-right:0;
		}

		h3 {
			font-size:1em;
			font-weight: bold;
			line-height: 1.5;
		}

		img {
			background: none;
			padding:0;
		}


		a {
			display: block;

			img {
				width:92%;
				padding:4%;
				background: #fff;
				height: auto;
				display: block;
				margin-bottom:.75em;
				border:1px solid #ddd;
				.border_radius(3px);
				.box_shadow(0,1px,2px,0,rgba(0,0,0,0.1));
			}

			&:hover {
				text-decoration: none !important;

				img {
					border:1px solid #ccc;
				}
			}
		}

		.price {
			display: block;
		}

		a.button {
			display: inline-block;
			margin-top:.5em;
			.transition();
			position: relative;
			padding:3px 8px;

			&.loading {
				.opacity(0.5);

				&:before {
					content:"";
					position: absolute;
					height:16px;
					width:16px;
					top:4px;
					right:-26px;
					text-indent: 0;
					background: url(../images/ajax-loader.gif) no-repeat;
				}
			}

			&.added {
				&:before {
					content:"";
					position: absolute;
					height:16px;
					width:16px;
					top:4px;
					right:-26px;
					text-indent: 0;
					background: url(../images/icons/ico-tick.png) no-repeat;
				}
			}
		}

		del {
			.opacity(.5);
		}

		ins {
			text-decoration: none;
		}
		.star-rating {
			float: none;
			margin:.5em auto;
		}
	}
}

.ie7 {
	ul.products {
		overflow: hidden;
		zoom:1;
	}
}

/*--[ Sale sticker ]--------------------------------------------------------------------------------*/

.onsale {
	padding:0 8px;
	text-align: center;
	.border_radius(40px);
	color: #364415;
	font-weight: bold;
	position: absolute;
	top:6px;
	left:6px;
	.vertical_gradient(#b2d16d, #9ec547);
	border:1px solid #91b83a;
	-webkit-box-shadow:
    	inset 0 0 0 1px rgba(255,255,255,0.6),
    	0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:
    	inset 0 0 0 1px rgba(255,255,255,0.6),
    	0 1px 2px rgba(0,0,0,0.2);
    box-shadow:
    	inset 0 0 0 1px rgba(255,255,255,0.6),
    	0 1px 2px rgba(0,0,0,0.2);
}

/*--[ Breadcrumb ]--------------------------------------------------------------------------------*/



/*--[ Single Product ]--------------------------------------------------------------------------------*/

.woocommerce {
	.images {
		width:48.1%;
		margin-right:3.8%;
		float: left;

		img {
			width:92%;
			padding:4%;
			background: #fff;
			height: auto;
			border:1px solid #e5e5e5;
			.border_radius(3px);

			&:hover {
				border-color:#ddd;
			}
		}

		a {
			display: block;
			margin-bottom:.5em;
		}

		.thumbnails {
			overflow: hidden;
			zoom:1;

			a {
				float: left;
				width:30.75%;
				margin-right:3.8%;

				.last {
					margin-right:0;
				}

				.first {
					clear: left;
				}
			}
		}
	}

	.summary {
		width:48.1%;
		float: right;
		margin-bottom:1.5em;

		form {
			margin-bottom:1.5em;
		}

		p {
			margin-bottom:1.5em;
		}

		del {
			.opacity(.5);
		}

		ins {
			text-decoration: none;
		}

		p.price {
			font-weight: bold;
			border:1px solid rgba(0,0,0,0.1);
			border-left:0;
			border-right:0;
			padding:.5em 0;

			del {
				.opacity(0.5);
			}

			ins {
				text-decoration: none;
				padding-left:.5em;
			}
		}

		.single_variation {
			.price {
				font-weight: bold;
				font-size:2em;
				display: block;
				line-height: 1.5em;
			}
		}

		table.group_table {
			.out-of-stock {
				display: block;
				color:#900;
			}
		}

		.button {
			margin-left:0;
		}
	}

	table {
		th, td {
			vertical-align: top;
			padding:.25em;
			.borderbox();
		}

		tr {
			td:first-child {
				padding-left:0;
			}
		}

		&.shop_attributes {
			th, td {
				padding:.5em 1em;
				vertical-align: middle;

				p:last-child {
					margin-bottom:0 !important;
				}
			}
		}
	}

	.woocommerce_tabs,
	.woocommerce-tabs {
		clear: both;
		background: #fff;
		margin-bottom:20px;
		border:0;
		border:1px solid #e5e5e5;
		.border_radius(3px);

		ul.tabs {
			overflow: hidden;
			zoom:1;
			list-style: none;
			background: #edeff1;
			padding:.5em .5em 0 .5em;
			margin:0 0 1.5em 0;
			.border_radius_top(3px);

			li {
				float: left;

				a {
					display: inline-block;
					padding:.5em 1em;
					.border_radius_top(3px);
				}
			}

			li.active {
				a {
					background: #fff;
				}
			}
		}

		.panel {
			padding:1.5em;

			table {
				border:1px solid #e6e6e6;
				border-right:0;
				border-bottom:0;

				td, th {
					border-right:1px solid #e6e6e6;
					border-bottom:1px solid #e6e6e6;
				}

				th {
					text-align: left;
					background: #f4f4f4;
				}
			}
		}

		p, h2 {
			margin-bottom:1.5em;
		}

		#comments {
			border: 0;
			margin:0;
			padding:0;
		}
	}

	.product_meta {
		padding:.5em 0;
		border:1px solid rgba(0,0,0,0.1);
		border-left:0;
		border-right:0;
		margin-bottom:1.5em;
	}

	.social {
		text-align: right;

		iframe {
			float: left;
		}
	}

	#main {
		div.product {
			position: relative;
		}
	}
}

.woocommerce.layout-full {
	.related, .upsells {
		width:45%;
		padding:2%;
		border:1px solid rgba(0,0,0,0.1);
		background: rgba(0,0,0,0.025);
		.border_radius(3px);

		h2 {
			margin-bottom:.5em;
		}
	}

	.related {
		float: left;
	}

	.upsells {
		float: right;

		ul {
			float: left;
			width:100%;
			margin:0;
		}
	}
}

/*--[ Reviews ]--------------------------------------------------------------------------------*/

#reviews {
	h2 {
		margin-bottom:.75em;
	}

	.commentlist {
		margin-bottom:20px;
	}

	.comment.bypostauthor {
		background: none;
		border:0;
	}

	.comment_container {
		padding:20px 0;
		border-bottom:1px solid #eee;
	}

	img.avatar {
		width: 3.85%;
		padding:.5%;
		background: #fff;
		.box_shadow(0,1px,2px,0,rgba(0,0,0,0.2));
		height: auto;
		float: left;
	}

	.comment-text {
		width: 91.35%;
		float: right;

		p:last-child {
			margin-bottom:0;
		}
	}
}

#fancybox-outer {
	padding:20px;
}

/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/


.woocommerce_message, .woocommerce_error,
.woocommerce-message, .woocommerce-error,
.woocommerce-info {
	margin:10px 0 20px 0;
	padding:9px 10px 9px 50px;
	overflow: hidden;
	zoom:1;
	clear: left;
}

.woocommerce_error,
.woocommerce-error {
	border-top:1px solid #f0baa2;
	border-bottom:1px solid #f0baa2;
	background:#ffd9c8 url(../images/icons/ico-alert.png) no-repeat 20px 13px;
}

ul.woocommerce-error {
	list-style: none !important;
	padding:10px 10px 10px 50px;
	li {
		list-style: none !important;
	}
}

.woocommerce_message,
.woocommerce-message {
	border-top:1px solid #d4ebaf;
	border-bottom:1px solid #d4ebaf;
	background:#edfcd5 url(../images/icons/ico-tick.png) no-repeat 20px 13px;
}

.woocommerce_message .button,
.woocommerce-message .button {
	float: right;
	margin:0;
	margin-top:-3px;
	margin-bottom:-3px;
}

.woocommerce-info {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	background:#f6f6f6 url(../images/icons/ico-info.png) no-repeat 20px 13px;
}


/*--[ Widgets ]--------------------------------------------------------------------------------*/

.widget {
	ul.product_list_widget {
		list-style: none;
		padding:0;

		li {
			clear: left;
			overflow: hidden;
			zoom:1;
			margin-bottom:.5em;

			a {
				display: block;
				padding-left:0;
			}

			img {
				float: right;
				margin:0 0 .5em .5em;
				padding:3px;
				background: #fff;
				width:32px;
				height: auto;
				.border_radius(3px);
				border:1px solid #e6e6e6 !important;
			}

			dl.variation {
				overflow: hidden;
				zoom:1;

				dt {
					font-weight: bold;
					float: left;
					clear: left;
					margin-right:5px;
				}

				dd {
					float: left;
				}
			}

			.star-rating {
				float: none;
				margin-bottom:.25em;
			}
		}
	}
}

.widget_shopping_cart {

	ul.cart_list {
		background: #fff;
		.border_radius(3px);
		.box_shadow(0,0,2px,0,rgba(0,0,0,0.2));
		margin:0 2px;
		padding:5px 0;

		li {
			background: none;
			padding: 10px;
			margin-bottom:0;
			border-bottom:1px dashed #e5e5e5;

			&:last-child {
				border-bottom:0;
			}

			.quantity {
				line-height: 1.25em;
			}
		}
	}

	p.total {
		padding:10px 0;
		text-align: center;
		font-weight: bold;
		margin-bottom:0;
		border-bottom:1px dashed #E5E5E5;
	}

	.buttons {
		text-align: center;
		padding:10px;
		.border_radius_bottom(4px);
		margin-bottom:0;
		padding-bottom:0;

		.button {
			padding:4px 10px;
		}
	}
}

.widget_product_search {
	#searchform {
		&:after {
			content: "";
			display: block;
			clear: both;
		}

		label {
			display: none;
		}

		input#s {
			padding: 8px 8px 8px 30px;
			width: 85%;
			margin: 0;
			border: none;
			background: url(../images/icons/ico-search.png) 10px 9px no-repeat #fff;
			color: #BDC4CE;
			border-color: #DCE0E4 #D7DBDE #D7DBDE;
			border-width: 1px;
			border-style: solid;
			.border_radius(3px);
			.box_shadow(0,1px,2px,0,rgba(0,0,0,0.099));
		}

		#searchsubmit {
			position: absolute;
			left:-999em;
			visibility: hidden;
		}
	}
}

.widget_subscribe_to_newsletter {
	label {
		display: none;
	}

	input#newsletter_email {
		width:63%;
	}

	input[type=submit] {
		margin-right:0;
		padding:4px 10px;
	}
}

.widget_price_filter {

	.price_slider_wrapper {
		padding:0 6px;
	}

	.price_slider {
		margin-bottom:1.5em;
	}

	.price_slider_amount {
		text-align: right;

		.button {
			float: left;
		}
	}

   .ui-slider {
		position: relative;
		text-align: left;
	}

   .ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: .8em;
		height: .8em;
		.border_radius(1em);
		border:1px solid #ccc;
		cursor: pointer;
		.vertical_gradient(#ffffff, #f5f5f5);
	}

   .ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
	}

   .price_slider_wrapper .ui-widget-content {
		border: 1px solid #ccc;
		.inset_box_shadow(0,0,2px,0,rgba(0,0,0,0.1));
		.border_radius(1em);
	}

   .price_slider_wrapper .ui-widget-header {
		.vertical_gradient(#fafafa, #ddd);
	}

   .ui-slider-horizontal {
		height: .8em;
	}

   .ui-slider-horizontal .ui-slider-handle {
		top: -0.1em;
		margin-left: -.6em;
	}

   .ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

   .ui-slider-horizontal .ui-slider-range-min {
		left: 0;
	}

   .ui-slider-horizontal .ui-slider-range-max {
		right: 0;
	}


	.price_slider_amount {
		text-align: right;
		line-height: 2.5em;

		.button {
			float: left;
		}
	}

	.button {
		padding:4px 10px;
		margin-left:-6px;
		margin-top:2px;
	}
}

.widget_layered_nav {
	ul {
		list-style: none;
		margin-left:0;
		padding-left:0;

		li {
			overflow: hidden;
			zoom:1;

			a {
				float: left;
				padding-left:0;
			}

			.count {
				float: right;
				line-height: 18px;
				background: #eee;
				padding:0 8px;
				.border_radius(10px);
				font-weight: bold;
				.inset_box_shadow(0,0,2px,0,rgba(0,0,0,0.1));
			}
		}

		li.chosen {
			a {
				padding-left: 18px;
				background: url(../images/icons/cross.png) left no-repeat;
			}
		}
	}
}

/*--[ Quantity incrementer ]--------------------------------------------------------------------------------*/

.quantity {
	overflow: hidden;
	zoom:1;
	width:96px;
	margin-bottom:.5em;

	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		display:none;
	}

	input.qty {
		width:20px;
		padding: 5px 10px;
		font-size: 14px !important;
		.border_radius(0);
		border:1px solid #e6e6e6;
		border-right:0;
		border-left:0;
		text-align: center;
		float: left;
		z-index: 10;
	}

	.plus, .minus {
		width:28px;
		text-align: center;
		padding:5px 0;
		font-size: 14px !important;
		border:1px solid #ccc;
		.vertical_gradient(#fff, #e6e6e6);
		.text_shadow(0,1px,0,rgba(255,255,255,0.2));
		.border_radius(0);
		float: left;
		z-index: 20;

		&:hover {
			.vertical_gradient(#fff,#f6f6f6);
		}
	}

	.plus {
		float: right;
		.border_radius_right(3px);
	}

	.minus {
		.border_radius_left(3px);
	}
}

/*--[ Buttons ]-------------------------------------------------------------------------------------*/

button.button, input.button, input[type=submit] {
	display: inline-block;
	margin: 5px;
	padding: 11px 13px;
	border-color: #DCE0E4 #D7DBDE #D7DBDE;border-style: solid;border-width: 1px;
	color: #555B63;
	text-align: center;
	text-shadow: 0 0 0;
	text-decoration: none;
	cursor: pointer;
	font-size:1em;

	/*Border radius*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	/*Background*/
	background: #fdfeff;

	/*Box shadow*/
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

	&:hover {
		background: #fff;
		border-color: #bababa;
	}

	&:active, &.active {
		border-color: #bababa;

		/*Box shadow*/
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
	}
}

/*--[ Star ratings ]--------------------------------------------------------------------------------*/

.star-rating {
	float: right;
	width: 80px;
	height: 16px;
	background: url(../images/icons/star.png) repeat-x left 0;
	span {
		background: url(../images/icons/star.png) repeat-x left -32px;
		height: 0;
		padding-top: 16px;
		overflow: hidden;
		float: left;
	}
}

p.stars {
	overflow: hidden;
	zoom: 1;
	span {
		width: 80px;
		height: 16px;
		position: relative;
		float: left;
		background: url(../images/icons/star.png) repeat-x left 0;
		a {
			float: left;
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 0;
			padding-top: 16px;
			overflow: hidden;
		}
		a:hover, a:focus {
			background: url(../images/icons/star.png) repeat-x left -16px;
		}
		a.active {
			background: url(../images/icons/star.png) repeat-x left -32px;
		}
		a.star-1 { width: 16px; z-index: 10; }
		a.star-2 { width: 32px; z-index: 9; }
		a.star-3 { width: 48px; z-index: 8; }
		a.star-4 { width: 64px; z-index: 7; }
		a.star-5 { width: 80px; z-index: 6; }
	}
}

/* Sidebar / footer stars */

#sidebar .star-rating, #footer-widgets .star-rating {
	width: 60px;
	height: 12px;
	background: url(../images/icons/star-small.png) repeat-x left 0;
	margin-top:2px;
}

#sidebar .star-rating span, #footer-widgets .star-rating span {
	background: url(../images/icons/star-small.png) repeat-x left -24px;
	padding-top: 12px;
}

#sidebar p.stars span, #footer-widgets p.stars span {
	width: 60px;
	height: 12px;
	background: url(../images/icons/star-small.png) repeat-x left 0;
}

#sidebar p.stars span a, #footer-widgets p.stars span a {
	width: 12px;
	padding-top: 12px;
}

/*--[ Tables ]--------------------------------------------------------------------------------*/

table {
	width:100%;

	td {
		vertical-align: top;
	}
}

/*--[ The cart ]--------------------------------------------------------------------------------*/

table.cart {
	img {
		width:32px;
		height: auto;
	}
	th, td {
		padding:10px;
	}

	tr {
		td:first-child {
			padding-left:10px;
		}
	}

	td.actions {
		text-align: right;

		.coupon {
			float: left;
		}

		.button {
			padding:4px 10px;
		}

		a.button {
			padding:2px 9px;
		}
	}
}

.shop_table {
	th {
		text-align: left;
		padding-left:10px !important;
	}

	dl.variation {
		overflow: hidden;
		zoom:1;

		dt {
			font-weight: bold;
			float: left;
			clear: left;
			margin-right:5px;
		}

		dd {
			float: left;
		}
	}
}

.cart-collaterals {
	overflow: hidden;
	zoom:1;

	.cart_totals, .shipping_calculator, .cross-sells {
		width:48%;
		float: right;
	}

	.shipping_calculator {
		clear: right;
	}

	.cross-sells {
		float: left;

		ul.products {
			li {
				width: 48%;

				img {
					.box_shadow(0,0,0,0,rgba(0,0,0,0));
				}
			}
		}
	}
}

.cart_totals {
	table {
		th {
			text-align: right;
			padding-left:10px;
			padding-right:10px;
		}
	}

	select {
		width:100%;
	}
}

a.remove {
	.vertical_gradient(#fff, #f6f6f6);
	.box_shadow(0,0,2px,0,rgba(0,0,0,0.25));
	padding:0 6px;
	display:block;
	float: left;
	line-height: 18px;
	.border_radius(30px);
}

/*--[ Product Ordering / Pagination ]--------------------------------------------------------------------------------*/

.woocommerce .woo-pagination {
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	overflow: hidden;
	zoom:1;
	margin-bottom:1.5em;
}

.woocommerce-result-count, .woocommerce_ordering, .woocommerce-ordering {
    width:50%;
    float: left;
    margin-bottom: 1.5em;
    & + ul.products {
        clear: both;
    }
}
.woocommerce_ordering,
.woocommerce-ordering {
    float: right;
    text-align: right;
}

/*--[ The Checkout ]--------------------------------------------------------------------------------*/

#shiptobilling {
	float: right;

	input {
		float: left;
	}
}

.create-account {
	float: left;
}

.payment_methods {
	margin:0 0 1.5em 0 !important;
	padding:0 !important;
	list-style: none !important;

	li {
		list-style: none !important;
		border-bottom:1px solid rgba(0,0,0,0.05);
		padding:10px 0;

		img {
			float: right;
			padding: 0 !important;
			border:none !important;
		}

		.payment_box {
			padding:10px;
			border:1px solid #D6DEE5;
			background: #e6ebef;
			.border_radius(3px);
			margin-top:5px;

			p {
				margin:0;
			}
		}
	}
}

.ie7 .payment_methods {
	li {
		img {
			margin-top:-24px;
		}
	}
}

.payment_box {
	fieldset {
		margin-bottom:0;
	}

	.form-row {
		.woocommerce-select {
			width:30.75%; float: left; margin-right:3.8%;
		}
	}
}

.payment_methods + .form-row {
	width:100%;

	#place_order {
		float: right;
		margin-right:0;
	}

	label {
		display: inline;
	}

	input {
		float: left;
	}
}

.required {
	color:red;
	border:0;
}

#shipping_method {
	list-style: none !important;
	padding:0;
	li {
		list-style: none !important;
	}
}

.validate-required {
	&.woocommerce-validated input {
		border-color:#88ab2f;
		background: lighten(#88ab2f,45%);
	}
	&.woocommerce-invalid input {
		border-color:#b93533;
		background: lighten(#b93533,45%);
	}
}

/*-- [ Order details ] ----------------------------------------------------------------------------------*/

.order_details {
	overflow: hidden;
	zoom:1;
	margin:0 0 1.5em;
	list-style: none !important;

	li {
		float: left;
		margin-right:2em;
		text-transform: uppercase;
		font-size:0.715em;
		line-height: 1em;
		border-right:1px dashed #ccc;
		padding-right:2em;
		list-style: none !important;

		strong {
			display: block;
			font-size:1.4em;
			text-transform: none;
			line-height: 1.5em;
			color: #333;
		}
	}

	li.method {
		border:none;
	}
}

/*--[ User Account ]--------------------------------------------------------------------------------*/

.woocommerce-account {
	dl {
		margin-bottom:10px;
	}

	mark {
		background: none;
	}

	table.my_account_orders {
		.button {
			margin:0;
		}
	}

	.addresses {
		address {
			clear: both;
		}
	}
}

/*--[ IE specific ]--------------------------------------------------------------------------------*/

.ie7 {
	#footer-widgets {
		clear: both;
	}
}