/*--[ Imports ]--------------------------------------------------------------------------------*/
/*--[ General Styles ]--------------------------------------------------------------------------------*/
img {
  max-width: 100%;
}
.col2-set {
  clear: both;
}
.col2-set:after {
  content: "";
  display: block;
  clear: both;
}
.col2-set .col-1 {
  width: 49%;
  float: left;
}
.col2-set .col-2 {
  width: 49%;
  float: right;
}
.form-row {
  width: 49%;
  float: left;
}
.form-row label {
  display: block;
}
.form-row .input-text,
.form-row select {
  width: 100%;
  *width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row input[type=checkbox] {
  float: left;
}
.form-row.notes {
  width: 100%;
}
.form-row.notes textarea {
  width: 100%;
  *width: 90%;
}
.form-row-first {
  clear: left;
}
.form-row-last {
  float: right;
}
.form-row-wide {
  float: left;
  width: 100%;
  clear: both;
}
header.title {
  overflow: hidden;
  zoom: 1;
}
header.title h1,
header.title h2,
header.title h3,
header.title h4,
header.title h5 {
  float: left;
}
header.title a.edit {
  float: right;
  font-size: 12px !important;
  text-transform: uppercase;
}
h1.page-title {
  margin-bottom: 15px;
}
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em 0;
  background: #ebdd75;
  color: #827513;
  z-index: 999999;
}
.tax-product_cat .shop-title {
  display: none;
}
.woocommerce #main > .page-title {
  display: none;
}
mark {
  background: none;
}
/*--[ Product Categories ]--------------------------------------------------------------------------------*/
.home ul.products li {
  width: 22.05%;
  margin: 0 1.4% 1.5em !important;
}
ul.products {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
}
ul.products:after {
  content: "";
  display: block;
  clear: both;
}
ul.products li {
  width: 30.75%;
  margin-right: 3.8%;
  float: left;
  text-align: center;
  margin-bottom: 1.5em;
  position: relative;
  list-style: none;
}
ul.products li.first {
  clear: left;
}
ul.products li.last {
  margin-right: 0;
}
ul.products li h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
}
ul.products li img {
  background: none;
  padding: 0;
}
ul.products li a {
  display: block;
}
ul.products li a img {
  width: 92%;
  padding: 4%;
  background: #fff;
  height: auto;
  display: block;
  margin-bottom: .75em;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
ul.products li a:hover {
  text-decoration: none !important;
}
ul.products li a:hover img {
  border: 1px solid #ccc;
}
ul.products li .price {
  display: block;
}
ul.products li a.button {
  display: inline-block;
  margin-top: .5em;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
  padding: 3px 8px;
}
ul.products li a.button.loading {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
ul.products li a.button.loading:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 4px;
  right: -26px;
  text-indent: 0;
  background: url(../images/ajax-loader.gif) no-repeat;
}
ul.products li a.button.added:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 4px;
  right: -26px;
  text-indent: 0;
  background: url(../images/icons/ico-tick.png) no-repeat;
}
ul.products li del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
ul.products li ins {
  text-decoration: none;
}
ul.products li .star-rating {
  float: none;
  margin: .5em auto;
}
.ie7 ul.products {
  overflow: hidden;
  zoom: 1;
}
/*--[ Sale sticker ]--------------------------------------------------------------------------------*/
.onsale {
  padding: 0 8px;
  text-align: center;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #364415;
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #b2d16d;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2d16d), to(#9ec547));
  background: -webkit-linear-gradient(#b2d16d, #9ec547);
  background: -moz-linear-gradient(center top, #b2d16d 0%, #9ec547 100%);
  background: -moz-gradient(center top, #b2d16d 0%, #9ec547 100%);
  border: 1px solid #91b83a;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*--[ Breadcrumb ]--------------------------------------------------------------------------------*/
/*--[ Single Product ]--------------------------------------------------------------------------------*/
.woocommerce .images {
  width: 48.1%;
  margin-right: 3.8%;
  float: left;
}
.woocommerce .images img {
  width: 92%;
  padding: 4%;
  background: #fff;
  height: auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce .images img:hover {
  border-color: #ddd;
}
.woocommerce .images a {
  display: block;
  margin-bottom: .5em;
}
.woocommerce .images .thumbnails {
  overflow: hidden;
  zoom: 1;
}
.woocommerce .images .thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
.woocommerce .images .thumbnails a .last {
  margin-right: 0;
}
.woocommerce .images .thumbnails a .first {
  clear: left;
}
.woocommerce .summary {
  width: 48.1%;
  float: right;
  margin-bottom: 1.5em;
}
.woocommerce .summary form {
  margin-bottom: 1.5em;
}
.woocommerce .summary p {
  margin-bottom: 1.5em;
}
.woocommerce .summary del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.woocommerce .summary ins {
  text-decoration: none;
}
.woocommerce .summary p.price {
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  border-right: 0;
  padding: .5em 0;
}
.woocommerce .summary p.price del {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.woocommerce .summary p.price ins {
  text-decoration: none;
  padding-left: .5em;
}
.woocommerce .summary .single_variation .price {
  font-weight: bold;
  font-size: 2em;
  display: block;
  line-height: 1.5em;
}
.woocommerce .summary table.group_table .out-of-stock {
  display: block;
  color: #900;
}
.woocommerce .summary .button {
  margin-left: 0;
}
.woocommerce table th,
.woocommerce table td {
  vertical-align: top;
  padding: .25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.woocommerce table tr td:first-child {
  padding-left: 0;
}
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
  padding: .5em 1em;
  vertical-align: middle;
}
.woocommerce table.shop_attributes th p:last-child,
.woocommerce table.shop_attributes td p:last-child {
  margin-bottom: 0 !important;
}
.woocommerce .woocommerce_tabs,
.woocommerce .woocommerce-tabs {
  clear: both;
  background: #fff;
  margin-bottom: 20px;
  border: 0;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce .woocommerce_tabs ul.tabs,
.woocommerce .woocommerce-tabs ul.tabs {
  overflow: hidden;
  zoom: 1;
  list-style: none;
  background: #edeff1;
  padding: .5em .5em 0 .5em;
  margin: 0 0 1.5em 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce .woocommerce_tabs ul.tabs li,
.woocommerce .woocommerce-tabs ul.tabs li {
  float: left;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 1em;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #fff;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  padding: 1.5em;
}
.woocommerce .woocommerce_tabs .panel table,
.woocommerce .woocommerce-tabs .panel table {
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-bottom: 0;
}
.woocommerce .woocommerce_tabs .panel table td,
.woocommerce .woocommerce-tabs .panel table td,
.woocommerce .woocommerce_tabs .panel table th,
.woocommerce .woocommerce-tabs .panel table th {
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.woocommerce .woocommerce_tabs .panel table th,
.woocommerce .woocommerce-tabs .panel table th {
  text-align: left;
  background: #f4f4f4;
}
.woocommerce .woocommerce_tabs p,
.woocommerce .woocommerce-tabs p,
.woocommerce .woocommerce_tabs h2,
.woocommerce .woocommerce-tabs h2 {
  margin-bottom: 1.5em;
}
.woocommerce .woocommerce_tabs #comments,
.woocommerce .woocommerce-tabs #comments {
  border: 0;
  margin: 0;
  padding: 0;
}
.woocommerce .product_meta {
  padding: .5em 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  border-right: 0;
  margin-bottom: 1.5em;
}
.woocommerce .social {
  text-align: right;
}
.woocommerce .social iframe {
  float: left;
}
.woocommerce #main div.product {
  position: relative;
}
.woocommerce.layout-full .related,
.woocommerce.layout-full .upsells {
  width: 45%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.025);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce.layout-full .related h2,
.woocommerce.layout-full .upsells h2 {
  margin-bottom: .5em;
}
.woocommerce.layout-full .related {
  float: left;
}
.woocommerce.layout-full .upsells {
  float: right;
}
.woocommerce.layout-full .upsells ul {
  float: left;
  width: 100%;
  margin: 0;
}
/*--[ Reviews ]--------------------------------------------------------------------------------*/
#reviews h2 {
  margin-bottom: .75em;
}
#reviews .commentlist {
  margin-bottom: 20px;
}
#reviews .comment.bypostauthor {
  background: none;
  border: 0;
}
#reviews .comment_container {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
#reviews img.avatar {
  width: 3.85%;
  padding: .5%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  float: left;
}
#reviews .comment-text {
  width: 91.35%;
  float: right;
}
#reviews .comment-text p:last-child {
  margin-bottom: 0;
}
#fancybox-outer {
  padding: 20px;
}
/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/
.woocommerce_message,
.woocommerce_error,
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin: 10px 0 20px 0;
  padding: 9px 10px 9px 50px;
  overflow: hidden;
  zoom: 1;
  clear: left;
}
.woocommerce_error,
.woocommerce-error {
  border-top: 1px solid #f0baa2;
  border-bottom: 1px solid #f0baa2;
  background: #ffd9c8 url(../images/icons/ico-alert.png) no-repeat 20px 13px;
}
ul.woocommerce-error {
  list-style: none !important;
  padding: 10px 10px 10px 50px;
}
ul.woocommerce-error li {
  list-style: none !important;
}
.woocommerce_message,
.woocommerce-message {
  border-top: 1px solid #d4ebaf;
  border-bottom: 1px solid #d4ebaf;
  background: #edfcd5 url(../images/icons/ico-tick.png) no-repeat 20px 13px;
}
.woocommerce_message .button,
.woocommerce-message .button {
  float: right;
  margin: 0;
  margin-top: -3px;
  margin-bottom: -3px;
}
.woocommerce-info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f6f6f6 url(../images/icons/ico-info.png) no-repeat 20px 13px;
}
/*--[ Widgets ]--------------------------------------------------------------------------------*/
.widget ul.product_list_widget {
  list-style: none;
  padding: 0;
}
.widget ul.product_list_widget li {
  clear: left;
  overflow: hidden;
  zoom: 1;
  margin-bottom: .5em;
}
.widget ul.product_list_widget li a {
  display: block;
  padding-left: 0;
}
.widget ul.product_list_widget li img {
  float: right;
  margin: 0 0 .5em .5em;
  padding: 3px;
  background: #fff;
  width: 32px;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e6e6e6 !important;
}
.widget ul.product_list_widget li dl.variation {
  overflow: hidden;
  zoom: 1;
}
.widget ul.product_list_widget li dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: 5px;
}
.widget ul.product_list_widget li dl.variation dd {
  float: left;
}
.widget ul.product_list_widget li .star-rating {
  float: none;
  margin-bottom: .25em;
}
.widget_shopping_cart ul.cart_list {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 2px;
  padding: 5px 0;
}
.widget_shopping_cart ul.cart_list li {
  background: none;
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 1px dashed #e5e5e5;
}
.widget_shopping_cart ul.cart_list li:last-child {
  border-bottom: 0;
}
.widget_shopping_cart ul.cart_list li .quantity {
  line-height: 1.25em;
}
.widget_shopping_cart p.total {
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 1px dashed #E5E5E5;
}
.widget_shopping_cart .buttons {
  text-align: center;
  padding: 10px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget_shopping_cart .buttons .button {
  padding: 4px 10px;
}
.widget_product_search #searchform:after {
  content: "";
  display: block;
  clear: both;
}
.widget_product_search #searchform label {
  display: none;
}
.widget_product_search #searchform input#s {
  padding: 8px 8px 8px 30px;
  width: 85%;
  margin: 0;
  border: none;
  background: url(../images/icons/ico-search.png) 10px 9px no-repeat #ffffff;
  color: #BDC4CE;
  border-color: #DCE0E4 #D7DBDE #D7DBDE;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.099);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.099);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.099);
}
.widget_product_search #searchform #searchsubmit {
  position: absolute;
  left: -999em;
  visibility: hidden;
}
.widget_subscribe_to_newsletter label {
  display: none;
}
.widget_subscribe_to_newsletter input#newsletter_email {
  width: 63%;
}
.widget_subscribe_to_newsletter input[type=submit] {
  margin-right: 0;
  padding: 4px 10px;
}
.widget_price_filter .price_slider_wrapper {
  padding: 0 6px;
}
.widget_price_filter .price_slider {
  margin-bottom: 1.5em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: .8em;
  height: .8em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f5f5f5 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f5f5f5 100%);
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border: 1px solid #ccc;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.widget_price_filter .price_slider_wrapper .ui-widget-header {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
  background: -webkit-linear-gradient(#fafafa, #dddddd);
  background: -moz-linear-gradient(center top, #fafafa 0%, #dddddd 100%);
  background: -moz-gradient(center top, #fafafa 0%, #dddddd 100%);
}
.widget_price_filter .ui-slider-horizontal {
  height: .8em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
  top: -0.1em;
  margin-left: -0.6em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.5em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .button {
  padding: 4px 10px;
  margin-left: -6px;
  margin-top: 2px;
}
.widget_layered_nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.widget_layered_nav ul li {
  overflow: hidden;
  zoom: 1;
}
.widget_layered_nav ul li a {
  float: left;
  padding-left: 0;
}
.widget_layered_nav ul li .count {
  float: right;
  line-height: 18px;
  background: #eee;
  padding: 0 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
}
.widget_layered_nav ul li.chosen a {
  padding-left: 18px;
  background: url(../images/icons/cross.png) left no-repeat;
}
/*--[ Quantity incrementer ]--------------------------------------------------------------------------------*/
.quantity {
  overflow: hidden;
  zoom: 1;
  width: 96px;
  margin-bottom: .5em;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity input.qty {
  width: 20px;
  padding: 5px 10px;
  font-size: 14px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-left: 0;
  text-align: center;
  float: left;
  z-index: 10;
}
.quantity .plus,
.quantity .minus {
  width: 28px;
  text-align: center;
  padding: 5px 0;
  font-size: 14px !important;
  border: 1px solid #ccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  z-index: 20;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f6f6f6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f6f6f6 100%);
}
.quantity .plus {
  float: right;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.quantity .minus {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*--[ Buttons ]-------------------------------------------------------------------------------------*/
button.button,
input.button,
input[type=submit] {
  display: inline-block;
  margin: 5px;
  padding: 11px 13px;
  border-color: #DCE0E4 #D7DBDE #D7DBDE;
  border-style: solid;
  border-width: 1px;
  color: #555B63;
  text-align: center;
  text-shadow: 0 0 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  /*Border radius*/

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*Background*/

  background: #fdfeff;
  /*Box shadow*/

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
button.button:hover,
input.button:hover,
input[type=submit]:hover {
  background: #fff;
  border-color: #bababa;
}
button.button:active,
input.button:active,
input[type=submit]:active,
button.button.active,
input.button.active,
input[type=submit].active {
  border-color: #bababa;
  /*Box shadow*/

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
}
/*--[ Star ratings ]--------------------------------------------------------------------------------*/
.star-rating {
  float: right;
  width: 80px;
  height: 16px;
  background: url(../images/icons/star.png) repeat-x left 0;
}
.star-rating span {
  background: url(../images/icons/star.png) repeat-x left -32px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
  float: left;
}
p.stars {
  overflow: hidden;
  zoom: 1;
}
p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(../images/icons/star.png) repeat-x left 0;
}
p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}
p.stars span a:hover,
p.stars span a:focus {
  background: url(../images/icons/star.png) repeat-x left -16px;
}
p.stars span a.active {
  background: url(../images/icons/star.png) repeat-x left -32px;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}
/* Sidebar / footer stars */
#sidebar .star-rating,
#footer-widgets .star-rating {
  width: 60px;
  height: 12px;
  background: url(../images/icons/star-small.png) repeat-x left 0;
  margin-top: 2px;
}
#sidebar .star-rating span,
#footer-widgets .star-rating span {
  background: url(../images/icons/star-small.png) repeat-x left -24px;
  padding-top: 12px;
}
#sidebar p.stars span,
#footer-widgets p.stars span {
  width: 60px;
  height: 12px;
  background: url(../images/icons/star-small.png) repeat-x left 0;
}
#sidebar p.stars span a,
#footer-widgets p.stars span a {
  width: 12px;
  padding-top: 12px;
}
/*--[ Tables ]--------------------------------------------------------------------------------*/
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
/*--[ The cart ]--------------------------------------------------------------------------------*/
table.cart img {
  width: 32px;
  height: auto;
}
table.cart th,
table.cart td {
  padding: 10px;
}
table.cart tr td:first-child {
  padding-left: 10px;
}
table.cart td.actions {
  text-align: right;
}
table.cart td.actions .coupon {
  float: left;
}
table.cart td.actions .button {
  padding: 4px 10px;
}
table.cart td.actions a.button {
  padding: 2px 9px;
}
.shop_table th {
  text-align: left;
  padding-left: 10px !important;
}
.shop_table dl.variation {
  overflow: hidden;
  zoom: 1;
}
.shop_table dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: 5px;
}
.shop_table dl.variation dd {
  float: left;
}
.cart-collaterals {
  overflow: hidden;
  zoom: 1;
}
.cart-collaterals .cart_totals,
.cart-collaterals .shipping_calculator,
.cart-collaterals .cross-sells {
  width: 48%;
  float: right;
}
.cart-collaterals .shipping_calculator {
  clear: right;
}
.cart-collaterals .cross-sells {
  float: left;
}
.cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.cart-collaterals .cross-sells ul.products li img {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.cart_totals table th {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
.cart_totals select {
  width: 100%;
}
a.remove {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
  background: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f6f6f6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f6f6f6 100%);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  padding: 0 6px;
  display: block;
  float: left;
  line-height: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/*--[ Product Ordering / Pagination ]--------------------------------------------------------------------------------*/
.woocommerce .woo-pagination {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 1.5em;
}
.woocommerce-result-count,
.woocommerce_ordering,
.woocommerce-ordering {
  width: 50%;
  float: left;
  margin-bottom: 1.5em;
}
.woocommerce-result-count + ul.products,
.woocommerce_ordering + ul.products,
.woocommerce-ordering + ul.products {
  clear: both;
}
.woocommerce_ordering,
.woocommerce-ordering {
  float: right;
  text-align: right;
}
/*--[ The Checkout ]--------------------------------------------------------------------------------*/
#shiptobilling {
  float: right;
}
#shiptobilling input {
  float: left;
}
.create-account {
  float: left;
}
.payment_methods {
  margin: 0 0 1.5em 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.payment_methods li {
  list-style: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
.payment_methods li img {
  float: right;
  padding: 0 !important;
  border: none !important;
}
.payment_methods li .payment_box {
  padding: 10px;
  border: 1px solid #D6DEE5;
  background: #e6ebef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
}
.payment_methods li .payment_box p {
  margin: 0;
}
.ie7 .payment_methods li img {
  margin-top: -24px;
}
.payment_box fieldset {
  margin-bottom: 0;
}
.payment_box .form-row .woocommerce-select {
  width: 30.75%;
  float: left;
  margin-right: 3.8%;
}
.payment_methods + .form-row {
  width: 100%;
}
.payment_methods + .form-row #place_order {
  float: right;
  margin-right: 0;
}
.payment_methods + .form-row label {
  display: inline;
}
.payment_methods + .form-row input {
  float: left;
}
.required {
  color: red;
  border: 0;
}
#shipping_method {
  list-style: none !important;
  padding: 0;
}
#shipping_method li {
  list-style: none !important;
}
.validate-required.woocommerce-validated input {
  border-color: #88ab2f;
  background: #e7f2ce;
}
.validate-required.woocommerce-invalid input {
  border-color: #b93533;
  background: #f5dcdc;
}
/*-- [ Order details ] ----------------------------------------------------------------------------------*/
.order_details {
  overflow: hidden;
  zoom: 1;
  margin: 0 0 1.5em;
  list-style: none !important;
}
.order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #ccc;
  padding-right: 2em;
  list-style: none !important;
}
.order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
  color: #333;
}
.order_details li.method {
  border: none;
}
/*--[ User Account ]--------------------------------------------------------------------------------*/
.woocommerce-account dl {
  margin-bottom: 10px;
}
.woocommerce-account mark {
  background: none;
}
.woocommerce-account table.my_account_orders .button {
  margin: 0;
}
.woocommerce-account .addresses address {
  clear: both;
}
/*--[ IE specific ]--------------------------------------------------------------------------------*/
.ie7 #footer-widgets {
  clear: both;
}
